@model IEnumerable<DienMayQuyetTien.Models.BangSanPham>

@{
    ViewBag.Title = "Quản lý sản phẩm";
}

<h2>Quản lý sản phẩm</h2>

<p>
    @Html.ActionLink("Thêm sản phẩm", "Create",null, new { @class = "btn btn-success" })
</p>
<table class="table table-bordered table-hover" id="BangSanPham">
    <thead>
        <tr style="background-color:Gray;">
            <th>Mã SP</th>
            <th>Tên SP</th>
            <th>Giá bán</th>
            <th>Giá gốc</th>
            <th>Giá góp</th>
            <th>Tồn</th>
            <th>Loại</th>
            <th>Hình SP</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.MaSP
                </td>
                <td>
                    @item.TenSP
                </td>
                <td>
                    @item.GiaBan
                </td>
                <td>
                    @item.GiaGoc
                </td>
                <td>
                    @item.GiaGop
                </td>
                <td>
                    @item.SoLuongTon
                </td>
                <td>
                    @item.LoaiSanPham.TenLoai
                </td>
                <td>
                    <img src="@Url.Action("Details", new { id = item.id })" width="150" height="100" />
                </td>
                <td>
                    <a href="@Url.Action("Edit", new {id = item.id})">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="@Url.Action("Details", new {id = item.id})">
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </a>
                    <a href="@Url.Action("Delete", new {id = item.id})">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
        $('#BangSanPham').DataTable();
        });
    </script>
}